.jumbotron {
    position: relative;
    min-height: 400px;
    padding-top: 2rem;
    background-color: #e2edff;
    background-image: url("../img/ethan-weil--_edxRu4jh0-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.blur-bg {
    width: 100%;
    min-height: 400px;
    background-color: rgba(86,86,86,0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
}
.jumbotron .jumbotron-content {
    position: relative;
    z-index: 10 !important;
}
img.rounded-circle {
    transition: 0.5s;
}
img.rounded-circle:hover {
    box-shadow: 0 0 15px -2px rgba(255,255,255,0.80);
}
.projects {
    background-color: #e2edff;
    background-image: url('../img/Protruding-Squares.svg');
    background-attachment: fixed;
    background-position: center center;
}
footer a {
    text-decoration: none;
}
footer a:hover {
    color: lightblue !important;
}