.navbar {
    background-color: rgb(41, 192, 172) !important;
}
#svg-nav {
    margin-top: -80px;
}
.jumbotron {
    background-color: #e2edff;
}
img.rounded-circle {
    transition: 0.5s;
}
img.rounded-circle:hover {
    box-shadow: 0 0 15px -2px rgba(0,0,0,0.50);
}
.projects {
    background-color: #e2edff;
    background-image: url('../img/Protruding-Squares.svg');
    background-attachment: fixed;
    background-position: center center;
}
footer {
    background-color: rgb(41, 192, 172) !important;
}

@media only screen and (max-width: 768px) {
    #svg-nav {
        margin-top: -10px;
    }
}