.navbar {
    background-color: rgb(41, 192, 172) !important;
}
#svg-nav {
    margin-top: -80px;
}
@media only screen and (max-width: 768px) {
    #svg-nav {
        margin-top: -10px;
    }
}
.jumbotron {
    background-color: #e2edff;
}
.projects {
    background-color: #e2edff;
    background-image: url('../img/Protruding-Squares.svg');
    background-attachment: fixed;
    background-position: center center;
}
footer {
    background-color: rgb(41, 192, 172) !important;
}